ConvertApp/ConvertApp/Web References/ConvertAppService/ConvertToWord.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConvertNumberToWords">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="number" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConvertNumberToWordsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConvertNumberToWordsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConvertNumberToWordsSoapIn">
    <wsdl:part name="parameters" element="tns:ConvertNumberToWords" />
  </wsdl:message>
  <wsdl:message name="ConvertNumberToWordsSoapOut">
    <wsdl:part name="parameters" element="tns:ConvertNumberToWordsResponse" />
  </wsdl:message>
  <wsdl:portType name="ConvertToWordSoap">
    <wsdl:operation name="ConvertNumberToWords">
      <wsdl:input message="tns:ConvertNumberToWordsSoapIn" />
      <wsdl:output message="tns:ConvertNumberToWordsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ConvertToWordSoap" type="tns:ConvertToWordSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertNumberToWords">
      <soap:operation soapAction="http://tempuri.org/ConvertNumberToWords" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ConvertToWordSoap12" type="tns:ConvertToWordSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConvertNumberToWords">
      <soap12:operation soapAction="http://tempuri.org/ConvertNumberToWords" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConvertToWord">
    <wsdl:port name="ConvertToWordSoap" binding="tns:ConvertToWordSoap">
      <soap:address location="http://localhost:64055/ConvertToWord.asmx" />
    </wsdl:port>
    <wsdl:port name="ConvertToWordSoap12" binding="tns:ConvertToWordSoap12">
      <soap12:address location="http://localhost:64055/ConvertToWord.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>